---
import "../styles/wedding-page.css";

import { Image } from "astro:assets";

import Frame from "../images/Images/Frame.png";
import FirstPhoto from "../images/Images/FirstPhoto.png";
import SecondPhoto from "../images/Images/SecondPhoto.png";
import Cloud from "../images/Images/Cloud.png";
import OvalFrame from "../images/Images/OvalFrame.png";
import GradientCircle from "../images/Images/GradientCircle.png";
import CoverFrame from "../images/Images/CoverFrame.png";
import CoverFlower1 from "../images/Images/CoverFlower1.png";
import CoverFlower2 from "../images/Images/CoverFlower2.png";

import ImageGallery from "../components/ImageGallery.astro";
import RSVPMessageBoard from "../components/RSVPMessageBoard.astro";
---

<section class="scroll-area">
    <div class="content-size-fitter">
        <div class="content-container">
            <Image src={SecondPhoto} class="photo-2 layer l6" alt="loading" />
            <Image src={Frame} class="frame-3 layer l5" alt="loading" />
            <Image src={Cloud} class="cloud-2 layer l4" alt="loading" />
            <Image src={Frame} class="frame-2 layer l3" alt="loading" />
            <Image
                src={GradientCircle}
                class="gradient-circle layer l2"
                alt="loading"
            />
            <div class="surah-text layer l2">
                <p>
                    "And of His signs is that He created for you from yourselves
                    mates that you may find tranquillity in them; and He placed
                    between you affection and mercy. Indeed in that are signs
                    for a people who give thought."
                </p>
                <br />
                <p>( QS. Ar-Rum 21 )</p>
            </div>
            <Image src={OvalFrame} class="oval-frame layer l2" alt="loading" />
            <Image src={FirstPhoto} class="photo-1 layer l1" alt="loading" />
            <Image src={Frame} class="frame-1 layer l1" alt="loading" />
        </div>
        <div class="cover">
            <div class="title-container title-content">
                <div class="title-text">
                    <p class="invitee-name">Dear Guest, you are invited to</p>
                    <p>The wedding of</p>
                    <p class="wedding-name bela">Bela</p>
                    <p class="wedding-name and">&</p>
                    <p class="wedding-name habib">Habib</p>
                    <p>Saturday, 4.4.2026</p>
                </div>
            </div>

            <Image
                src={CoverFrame}
                class="cover-frame title-content"
                alt="loading"
            />
            <Image
                src={CoverFlower1}
                class="cover-flower-1 title-content"
                alt="loading"
            />
            <Image
                src={CoverFlower2}
                class="cover-flower-2 title-content"
                alt="loading"
            />
        </div>
        <div class="couple-info">
            <div class="bela-info">
                <p class="bela-info-name">dr. Delfitri Salsabela Budianti</p>
                <p class="bela-info-detail">The First Daughter of</p>
                <p class="bela-info-parent">Mr. Arief Budijanto (alm)</p>
                <p class="bela-info-parent">& Mrs. Suciati</p>
            </div>
            <div class="habib-info">
                <p class="habib-info-name">Nur Muhammad Husnul</p>
                <p class="habib-info-habib-y">Habib Yahya</p>
                <p class="habib-info-detail">The Fourth Son of</p>
                <p class="habib-info-parent">Mr. Yahya Ali (alm)</p>
                <p class="habib-info-parent">& Mrs. Titin Hartini Noer</p>
            </div>
        </div>
    </div>
</section>

<ImageGallery />

<RSVPMessageBoard />

<script type="module" client:load>
    import {
        utils,
        stagger,
        onScroll,
        createTimeline,
        animate,
    } from "https://esm.run/animejs@4.2.2";

    var opacityGone = 0;
    var zGone = 100;
    var durationGone = 200;
    console.log("Anime utils: ", utils);

    utils.set(".l1", { z: 0 });
    utils.set(".l2", { z: -200 });
    utils.set(".l3", { z: -400 });
    utils.set(".l4", { z: -600 });
    utils.set(".l5", { z: -800 });
    utils.set(".l6", { z: -1200 });

    utils.set(".cloud-1", {
        y: 100,
    });

    utils.set(".cloud-2", {
        y: 300,
    });

    utils.set(".l1", {
        z: 0,
    });

    utils.set(".surah-text", {
        opacity: 0,
    });

    animate([".rsvp-title", ".rsvp-form-container"], {
        opacity: [0, 1],
        duration: 2000,
        ease: "inOutQuad",
        autoplay: onScroll({
            container: ".scroll-container",
        }),
    });

    animate([".gallery-title", ".gallery-container"], {
        opacity: [0, 1],
        duration: 2000,
        ease: "inOutQuad",
        autoplay: onScroll({
            container: ".scroll-container",
        }),
    });

    animate([".title-content"], {
        opacity: [0, 1],
        duration: 2000,
        ease: "inOutQuad",
        autoplay: onScroll({
            container: ".scroll-container",
        }),
    });

    animate([".messages-section"], {
        opacity: [0, 1],
        duration: 2000,
        ease: "inOutQuad",
        autoplay: onScroll({
            container: ".scroll-container",
        }),
    });

    createTimeline({
        defaults: {
            ease: "easeInOutSine",
            duration: 500,
        },
        autoplay: onScroll({
            target: ".scroll-area",
            enter: "top top",
            leave: "bottom bottom",
            sync: 0.5,
        }),
    })
        .add(
            ".cover",
            {
                top: "-100%",
                duration: 100,
            },
            0,
        )
        .label("coverDone")
        .add(
            ".l1",
            {
                z: "+=0",
                duration: 100,
            },
            "coverDone",
        )
        .label("wait1")
        .add(
            [".l1", ".l2", ".l3", ".l4", ".l5", ".l6", ".l7", ".l8", ".l9"],
            {
                z: "-=200",
            },
            "wait1",
        )
        .label("easeInFirst")
        .add(
            [".l1", ".l2", ".l3", ".l4", ".l5", ".l6", ".l7", ".l8", ".l9"],
            {
                z: "+=200",
            },
            "easeInFirst",
        )
        .label("easeInAfter")
        .add(
            ".l1",
            {
                opacity: 0,
                z: "+=200",
                duration: 100,
            },
            "easeInAfter",
        )
        .add(
            [".l2", ".l3", ".l4", ".l5", ".l6", ".l7", ".l8", ".l9"],
            {
                z: "+=200",
                opacity: 1,
            },
            "easeInFieaseInAfterrst",
        )
        .label("fadeOut1")
        .add(
            ".l2",
            {
                z: "+=0",
                duration: 300,
            },
            "fadeOut1",
        )
        .label("wait2")
        .add(
            ".l2",
            {
                opacity: 0,
                z: "+=200",
                duration: 100,
            },
            "wait2",
        )
        .add(
            [".l3", ".l4", ".l5", ".l6", ".l7", ".l8", ".l9"],
            {
                z: "+=200",
                opacity: 1,
            },
            "wait2",
        )
        .add(
            [".layer"],
            {
                x: "-=200",
                y: "-=100",
                rotateZ: 2,
            },
            "wait2",
        )
        .label("fadeOut2")
        .add(
            ".l3",
            {
                opacity: 0,
                z: "+=200",
            },
            "fadeOut2",
        )
        .add(
            [".l4", ".l5", ".l6", ".l7", ".l8", ".l9"],
            {
                z: "+=200",
            },
            "fadeOut2",
        )
        .add(
            [".layer"],
            {
                x: "+=400",
                y: "-=100",
                rotateZ: -3,
            },
            "fadeOut2",
        )
        .label("fadeOut3")
        .add(
            ".l4",
            {
                opacity: 0,
                z: "+=200",
            },
            "fadeOut3",
        )
        .add(
            [".l5", ".l6", ".l7", ".l8", ".l9"],
            {
                z: "+=200",
            },
            "fadeOut3",
        )
        .add(
            [".layer"],
            {
                x: 0,
                y: "+=200",
                rotateZ: 0,
            },
            "fadeOut3",
        )
        .label("fadeOut4")
        .add(
            ".l1",
            {
                z: "+=0",
                duration: 100,
            },
            "fadeOut4",
        )
        .label("both-photo-ready")
        .add(
            ".l6",
            {
                left: "-150%",
                top: ["-5%", "15%"],
                scale: 1.3,
            },
            "both-photo-ready",
        )
        .add(
            ".bela-info",
            {
                opacity: [0, 0, 1],
            },
            "both-photo-ready",
        )
        .label("bela-ready")
        .add(
            ".l1",
            {
                z: "+=0",
                duration: 100,
            },
            "bela-ready",
        )
        .label("bela-done")
        .add(
            ".l6",
            {
                left: "15%",
                top: ["15%", "-5%", "15%"],
                scale: [1.3, 1, 1.3],
            },
            "bela-done",
        )
        .add(
            ".bela-info",
            {
                opacity: 0,
                duration: 100,
            },
            "bela-done",
        )
        .add(
            ".habib-info",
            {
                opacity: [0, 0, 0, 1],
            },
            "bela-done",
        )
        .label("habib-ready")
        .add(
            ".l1",
            {
                z: "+=0",
                duration: 100,
            },
            "habib-ready",
        )
        .label("habib-done")
        .add(
            ".l6",
            {
                left: "-60%",
                top: "-5%",
                scale: 1,
            },
            "habib-done",
        )
        .add(
            ".habib-info",
            {
                opacity: 0,
                duration: 100,
            },
            "habib-done",
        )
        .label("back-to-both")
        .add(
            ".l1",
            {
                z: "+=0",
                duration: 200,
            },
            "back-to-both",
        );
</script>
